.innovating {
  position: relative;
  display: flex;
  width: 50%;
  height: 14rem; // reduced default height
  margin: 4rem auto;
  border-radius: 12px;
  overflow: hidden;
  z-index: 10;

  @media (min-width: 768px) {
    height: 16rem;
  }

  @media (min-width: 1024px) {
    height: 18rem;
  }

  @media (min-width: 1280px) {
    height: 20rem;
  }

  @media (max-width: 600px) {
    width: 90%;
  }

  &__heading {
    text-align: center;
    // font-size: 3rem;
    font-weight: 400;
    line-height: 0;
    color: #fff;

    span {
      background: linear-gradient(90deg, #f4d300, #ab7e0d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }

    @include respond(smallPhone) {
      font-size: 1.5rem;
    }

    @include respond(phone) {
      font-size: 2rem;
    }

    @include respond(tablets) {
      font-size: 2.5rem;
    }

    @include respond(bigTablets) {
      font-size: 2.7rem;
    }

    @include respond(desktop) {
      font-size: 3rem;
    }
  }

  &__image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;

    &--first {
      background-image: url("https://marketlube-website-assets.s3.ap-south-1.amazonaws.com/luxart/luxart-vision/lux-vision-a.jpg");
    }

    &--second {
      background-image: url("https://marketlube-website-assets.s3.ap-south-1.amazonaws.com/luxart/luxart-vision/lux-vision-b.jpg");
    }
  }

  &__text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
    pointer-events: none;

    h1 {
      font-size: 1rem;
      font-weight: bold;
      color: white;
      text-align: center;

      @media (min-width: 768px) {
        font-size: 2.5rem;
      }

      @media (min-width: 1024px) {
        font-size: 2.5rem;
      }

      @media (min-width: 1280px) {
        font-size: 2.5rem;
      }
    }
  }

  &__slider {
    position: absolute;
    inset: 0;
    pointer-events: none;

    .innovating__line {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 2px;
      background-color: white;
      transform: translateX(-50%);
      pointer-events: auto;

      .innovating__pointer {
        position: absolute;
        width: 6px;
        height: 4rem; // reduced pointer height
        background-color: white;
        transform: translateX(-50%);
      }
    }
  }
}
